<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="images/favicon.png" type="">
        <title>Landing Page</title>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body style="background: #F7F8FC;">
        <div class="row">
            <div class="col col-2">
                <div class="wrapper">
                    <div class="sidebar">
                        <div class="ms-sm-0 row">
                            <div class="ms-4 pt-2 pb-5 logo-content">
                                <img src="images/logo.png" />
                                <span class="sbheadline">Store Owner</span>
                            </div>
                        </div>
                        <div class="ms-sm-0 row">
                            <a class=" active ps-4 p-3 border-start border-3" id="link_sb" href="#">
                                <img class="icon_sb" src="images/overview_sidebar_active.png" />
                                <span>Overview</span>
                            </a>
                            <a class="ps-4 p-3 pt-4" id="link_sb" href="/manageprojects">
                                <img class="icon_sb" src="images/manage_projects_sidebar.png" />
                                <span>Manage Projects</span>
                            </a>
                            <a class="ps-4 p-3 pt-4" id="link_sb" href="/userprofile">
                                <img class="icon_sb" src="images/profile_sidebar.png" />
                                <span>View Profile</span>
                            </a>
                            <a class="ps-4 p-3 pt-4" id="link_sb" href="/problemreporting">
                                <img class="icon_sb" src="images/problem_reporting_sidebar.png" />
                                <span>Problem Reporting</span>
                            </a>
                            <a class="ps-4 p-3 pt-4" id="link_sb" href="/projectfaqs">
                                <img class="icon_sb" src="images/faq_sidebar.png" />
                                <span>FAQ</span>
                            </a>
                            <a class="ps-4 p-3 pt-4" id="link_sb" href="/logout">
                                <img class="icon_sb" src="images/logout_sidebar.png" />
                                <span>Log out</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col ml-5 pt-4">
                <!-- overview header -->
                <div class="row">
                    <div class="col-8">
                        <span id="mnheadline">Overview</span>
                    </div>
                    <div class="col-2 text-end">
                        <img class="me-4" src="images/notif_header.png" />
                    </div>
                    <div class="col-2 border-start text-end">
                        <span class="me-5" id="mnsubhead"><a style="text-decoration:none;color:black;" href="/userprofile">{{ store_owner_information["name"] }}</a></span>
                    </div>
                </div>
                <!-- first box -->
                <div class="container pt-5">
                    <div class="row lpbox-l">
                        <!-- first row -->
                        <div class="row">
                            <div class="col-4">
                                <span class="ms-3" id="headline">Welcome Store Owner</span>
                            </div>
                            <div class="col-8" style="text-align: right;">
                                <a href="/userprofile" id="link">Update Information</a>
                            </div>
                        </div>
                        <!-- second row -->
                        <div class="row">
                            <div class="col-4">
                                <span class="ms-3" id="subtitle">Personal Information</span>
                            </div>
                            <div class="col-8" id="subtitle">Store Information</div>
                        </div>
                        <!-- third row -->
                        <div class="row">
                            <div class="col-4 mb-3 border-bottom">
                                <span class="ms-3" id="content">Name: {{ store_owner_information["name"] }}</span>
                            </div>
                            <div class="col-8 mb-3 border-bottom">
                                <span id="content">Name: {{ store_owner_information["company"] }}</span>
                            </div>
                        </div>
                        <!-- fourth row -->
                        <div class="row">
                            <div class="col-4 border-bottom">
                                <span class="ms-3 mt-2" id="content">Email: {{ store_owner_information["email"] }}</span>
                            </div>
                            <div class="col-8 border-bottom">
                                <span class="mt-2" id="content">Store URL: {{ store_owner_information["url"] }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container pt-5">
                    <div class="row">
                        <!-- second box -->
                        <div class="col-4">
                            <div class="row lpbox-s">
                                <!-- first row -->
                                <div class="row">
                                    <div class="col">
                                        <span class="ms-3" id="headline">All Projects</span>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <a href="/manageprojects" id="link">View Details</a>
                                    </div>
                                </div>
								{% if all_projects | length != 0 %}
									{%	for n in range(0, all_projects | length)	%}
									<!-- second row -->
									{% if n < 3 %}
									<div class="row">
										<div class="col border-bottom">
											<span class="pt-4 ms-3" id="content"><a style="text-decoration:none;color:black;" href="/project/{{ all_projects[n]['id'] }}">{{ all_projects[n]["pname"] }}</a></span>
										</div>
										<div class="col border-bottom" style="text-align: right;">
											<span class="pt-4" id="status">{{ all_projects[n]["rating"] }}</span>
										</div>
									</div>		
									{% endif %}
									{%	endfor	%}
								{% endif %}
                                <!-- third row 
                                <div class="row">
                                    <div class="col border-bottom">
                                        <span class="pt-4 ms-3" id="content">Project 2</span>
                                    </div>
                                    <div class="col border-bottom" style="text-align: right;">
                                        <span class="pt-4" id="status">Bad</span>
                                    </div>
                                </div>-->
								
                            </div>
                        </div>
                        <!-- third box -->
                        <div class="col-8">
                            <div class="row lpbox-m">
                                <!-- first row -->
                                <div class="row">
                                    <div class="col">
                                        <span class="ms-3" id="headline">Problems reported</span>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <a href="/problemreporting" id="link">Report Problem</a> 
                                    </div>
                                </div>
                                <!-- second row -->
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col" style="text-align: right;">
                                        <span class="pt-3" id="subhead">Status</span>
                                    </div>
                                </div>
								
								{% if all_issues | length != 0 %}
									{%	for n in range(0, all_issues | length)	%}
									<!-- second row -->
									{% if n < 3 %}
								<div class="row">
                                    <div class="col border-bottom">
                                        <span class="ms-3 pt-4" id="content">Problem {{ all_issues[n]["id"] }}</span>
                                    </div>
                                    <div class="col border-bottom" style="text-align: right;">
                                        <span class="pt-4" id="status">{{ all_issues[n]["status"] }}</span>
                                    </div>
                                </div>	
									{% endif %}
									{%	endfor	%}
								{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>