<html lang="en">
          <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="keywords" content="" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <link rel="shortcut icon" href="images/favicon.png" type="">
            <title>MyRecommend</title>
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
            <link rel="stylesheet" href="css/register.css">
            
<script>
function showPassword() {
  var x = document.getElementById("passwordInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
function showCfmPassword() {
  var x = document.getElementById("passwordCfmInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
var check = function() {
  if (document.getElementById('passwordCfmInput').value == "")
	{
	document.getElementById('message').innerHTML = '';
	}
  else if (document.getElementById('passwordInput').value ==
    document.getElementById('passwordCfmInput').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
</script>
          </head>
          
          <body>
            <div class="container h-100 d-flex align-items-center" style="width:35%;">
                <div class="row register-form justify-content-center">
                  <div class="row" style="height: 0%;">
                    <span class="text-center logo">
                    <img class="img-responsive" src="images/logo48by48.png" style="cursor:pointer;" />
                    <p class="text-center logo-name">MyRecommend</p>
                    </span>
                    
                  </div>
                  <div class="row" style="height:0;margin-top: 20px;">
                    <div style="height: 50%;">
                    <p class="text-center text-1">Registration</p>
                    <p class="text-center text-2">Enter your relevant information in the field</p>
                    </div>
                  </div>
                  <div class="row">
					<form method="POST" action="/register" style="height:65%;">
					            <p class="input-field-tag">EMAIL</p>
                      <input class="input-field" type="email" name="username" placeholder="Email Address" required></input>
                      <div class="row">
                        <div class="col">
                        <p class="input-field-tag">FIRST NAME</p>
                        <input class="input-field name-field" type="text" name="fname" placeholder="First name" required maxlength="32"></input></div>
                      <div class="col">
                        <p class="input-field-tag">LAST NAME</p>
                        <input class="input-field  name-field" type="text" name="lname" placeholder="Last name" required maxlength="32"></input></div>
                      </div>
                      <p class="input-field-tag">COMPANY</p>
                      <input class="input-field" type="text" name="cname" placeholder="Company name" required maxlength="32"></input>
                      <p class="input-field-tag">COMPANY'S INDUSTRY</p>
                      <input class="input-field" type="text" name="industry" placeholder="Industry e.g Shoes, Watch, Clothes etc" required maxlength="32"></input>
                      <div class="row">
                        <div class="col"><p class="input-field-tag">PASSWORD</p></div>
                      </div>
                      <input class="input-field" id="passwordInput" type="password" name="password" placeholder="Password" required maxlength="32" required pattern="(?=.*\d)(?=.*[\W_]).{12,}" title="Minimum of 12 characters. Should have at least one special character and one number and one UpperCase Letter." onkeyup="check();">
                        <div style="position: relative;"><img class="toggle-icon" id="showPasswordBtn" src="images/passwordtoggle.png" onmousedown="showPassword()" onmouseup="showPassword()"></img></div>
                      </input>
                      <div class="row">
                        <div class="col"><p class="input-field-tag">CONFIRM PASSWORD</p></div>
                      </div>
                      <input class="input-field" id="passwordCfmInput" type="password" name="cfmPassword" placeholder="Password" required pattern="(?=.*\d)(?=.*[\W_]).{12,}" maxlength="32" title="Minimum of 12 characters. Should have at least one special character and one number and one UpperCase Letter." onkeyup="check();">
					  <span id='message'></span>
                        <div style="position: relative;"><img class="toggle-icon" id="showCfmPasswordBtn" src="images/passwordtoggle.png" onmousedown="showCfmPassword()" onmouseup="showCfmPassword()"></img></div>
                      </input>
                      <div class="row justify-content-center sign-up-btn">
                        <button class="btn-primary" id="signupBtn">Sign Up</button>
                      </div>
                    </form>
                  </div>
                  <div class="row align-items-center">
                    <p class="text-center input-field-tag text-3" style=>Have an account? <a id="signupLink" href="/login">Login</a></p>
                  </div>
                  
                </div>
            </div>
          </body>
          </html>