<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="images/favicon.png" type="">
        <title>Subscription Plan</title>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>
	<script> 
	function monthly(){
		if (document.getElementById("price-title-1").innerText != "month")
		{
			document.getElementById("price-1").innerHTML = "$59";
			document.getElementById("price-title-1").innerHTML = "/ month";
			document.getElementById("price-2").innerHTML = "$79";
			document.getElementById("price-title-2").innerHTML = "/ month";
			document.getElementById("price-3").innerHTML = "$109";
			document.getElementById("price-title-3").innerHTML = "/ month";
			document.getElementById("yearly-btn").classList.add("active-btn");
			document.getElementById("yearly-btn").classList.remove("inactive-btn");
			document.getElementById("monthly-btn").classList.add("inactive-btn");
			document.getElementById("monthly-btn").classList.remove("active-btn");
			document.getElementById("button-1").value = 59;
			document.getElementById("button-2").value = 79;
			document.getElementById("button-3").value = 109;
		}
	}
	function yearly(){
		if (document.getElementById("price-title-1").innerText != "year")
		{			
			document.getElementById("price-1").innerHTML = "$699";
			document.getElementById("price-title-1").innerHTML = "/ year";
			document.getElementById("price-2").innerHTML = "$759";
			document.getElementById("price-title-2").innerHTML = "/ year";
			document.getElementById("price-3").innerHTML = "$1,099";
			document.getElementById("price-title-3").innerHTML = "/ year";
			document.getElementById("monthly-btn").classList.add("active-btn");
			document.getElementById("monthly-btn").classList.remove("inactive-btn");
			document.getElementById("yearly-btn").classList.add("inactive-btn");
			document.getElementById("yearly-btn").classList.remove("active-btn");
			document.getElementById("button-1").value = 699;
			document.getElementById("button-2").value = 759;
			document.getElementById("button-3").value = 1099;
		}
	}
	</script>
    <body style="background-color:rgba(54.00000058114529, 55.00000052154064, 64.00000378489494, 1);">
        <div class="container-fluid header overflow-hidden">
            <div class="row header-row">
              <div class="col-sm-2 align-self-center left-header-col">
                <img src="images/logo.png" />
                <a href="/" class="header-link left-header-link">MyRecommend</a>
              </div>
              <div class="col-sm-8 align-self-center middle-header-col">
              <a href="/faq" class="header-link">FAQs</a>
                <a href="/about" class="header-link">About Us</a>
                <a href="/contactus" class="header-link">Contact Us</a>
                <a href="/subscription" class="header-link">Subscription Plan</a>
                <a href="/login" class="header-link">Login/Signup</a>
              </div>
              <div class="col-sm-2 align-self-center right-header-col">
                <div class="button">
                  <span><a href="/demo" class="btnText">Request Demo</a></span>
                </div>
              </div>
            </div>
        </div> <!--end of header-->
        <div class="container-fluid body pt-5">
          <form method="GET" action="/payment">
            <div class="text-center pt-5">
              <button class="active-btn" type="button" id="yearly-btn" style="height: 45px" onclick="yearly()">
                <span class="text" style="font-size: 14px">Bill Yearly</span></br>
                <span class="text">Save 12% total</span>
              </button>
              <button class="ml-5 inactive-btn" id="monthly-btn" type="button" style="height: 45px" onclick="monthly()">
                <span class="text" style="font-size: 14px">Monthly</span>
              </button>
            </div>
            <div class="row p-5 m-5">
              <div class="col ml-4 sb-box">
                <div class="row pt-3">
                  <div class="col-sm-4">
                    <img src="images/logo64by64.png" style="float: right;">
                  </div>
                  <div class="col-sm-6 pb-4">
                    <span class="sb_title">Basic</span><br />
                    <span class="sb_subtitle">Starter</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8 pb-5">
                    <span id="sb_content">2 Projects<br />
                      1 License</span>
                  </div>
                </div>
                <div class="text-center pt-5">
                  <span class="pt-5 sb_title" id="price-1">$59</span>
                  <span class="pb-5 sb_subtitle" id="price-title-1">/ month</span>
                  <button class="rdbutton" id="button-1" name="subscribe" value="59" type="submit">Choose</button>
                </div>
              </div>
              <div class="col ml-4 sb-box">
                <div class="row pt-3">
                  <div class="col-sm-4">
                    <img src="images/logo64by64.png" style="float: right;">
                  </div>
                  <div class="col-sm-6 pb-4">
                    <span class="sb_title">Pro</span><br />
                    <span class="sb_subtitle">Advance</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8 pb-5">
                    <span id="sb_content">2 Projects<br />
                      10 License</span>
                  </div>
                </div>
                <div class="text-center pt-5">
                  <span class="pt-5 sb_title" id="price-2">$79</span>
                  <span class="pb-5 sb_subtitle" id="price-title-2">/ month</span>
                  <button class="rdbutton" id="button-2" name="subscribe" value="79" type="submit">Choose</button>
                </div>
              </div>
              <div class="col ml-4 sb-box">
                <div class="row pt-3">
                  <div class="col-sm-4">
                    <img src="images/logo64by64.png" style="float: right;">
                  </div>
                  <div class="col-sm-6 pb-4">
                    <span class="sb_title">Premium</span><br />
                    <span class="sb_subtitle">Ultimate User</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8 pb-5">
                    <span id="sb_content">Unlimited Projects<br />
                      100 License</span>
                  </div>
                </div>
                <div class="text-center pt-5">
                  <span class="pt-5 sb_title" id="price-3">$109</span>
                  <span class="pb-5 sb_subtitle" id="price-title-3">/ month</span>
                  <button class="rdbutton" id="button-3" name="subscribe" value="109" type="submit">Choose</button>
                </div>
              </div>
            </div>
          </form>
        </div>
    </body>
</html>