<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{{ 	url_for('static', filename='images/favicon.png')	}}" type="">
    <title>Test Item Rating</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ 	url_for('static', filename='css/styles.css')	}}">
</head>

<body style="background: #F7F8FC;">
    <div class="row">
        <div class="col col-2">
            <div class="wrapper">
                <div class="sidebar" style="position: fixed;">
                    <div class="ms-sm-0 row">
                        <div class="ms-4 pt-2 pb-5 logo-content">
                            <img src="{{ 	url_for('static', filename='images/logo.png')	}}" />
                            <span class="sbheadline">Store Owner</span>
                        </div>
                    </div>
                    <div class="ms-sm-0 row">
                        <a class="ps-4 p-3 pb-4" id="link_sb" href="/projectoverview">
                            <img class="icon_sb" src="{{ 	url_for('static', filename='images/overview_sidebar.png')	}}" />
                            <span>Overview</span>
                        </a>
                        <a class="active ps-4 p-3 border-start border-3" id="link_sb" href="/manageprojects">
                            <img class="icon_sb" src="{{ 	url_for('static', filename='images/manage_projects_sidebar_active.png')	}}" />
                            <span>Manage Projects</span>
                        </a>
                        <a class="ps-4 p-3 pt-4" id="link_sb" href="/userprofile">
                            <img class="icon_sb" src="{{ 	url_for('static', filename='images/profile_sidebar.png')	}}" />
                            <span>View Profile</span>
                        </a>
                        <a class="ps-4 p-3 pt-4" id="link_sb" href="/problemreporting">
                            <img class="icon_sb" src="{{ 	url_for('static', filename='images/problem_reporting_sidebar.png')	}}" />
                            <span>Problem Reporting</span>
                        </a>
                        <a class="ps-4 p-3 pt-4" id="link_sb" href="/projectfaqs">
                            <img class="icon_sb" src="{{ 	url_for('static', filename='images/faq_sidebar.png')	}}" />
                            <span>FAQ</span>
                        </a>
                        <a class="ps-4 p-3 pt-4" id="link_sb" href="/logout">
                            <img class="icon_sb" src="{{ 	url_for('static', filename='images/logout_sidebar.png')	}}" />
                            <span>Log out</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ml-5 pt-4">
            <!-- overview header -->
			
			<form action="/createitem" method="post">
            <div class="row pb-1">
                <div class="col-8">
                    <span id="mnheadline">Project <input type="hidden" name="project_id" value="{{ project_information['id'] }}">{{ project_information["id"] }}</input></span>
                </div>
                <div class="col-2 text-end">
                    <img class="me-4" src="{{ 	url_for('static', filename='images/notif_header.png')	}}" />
                </div>
                <div class="col-2 border-start text-end">
                    <span class="me-5" id="mnsubhead"><a style="text-decoration:none;color:black;" href="/userprofile">{{ fullname }}</a></span>
                </div>
            </div>
            <div class="row pt-3 pb-2">
                <span id="testhead">Test Item Rating</span>
            </div>
            <!-- first box -->
			{% if role == "store_owner" %}
            <div class="container pt-3">
                <div class="row cpbox">
                        <!-- first row -->
                        <div class="row pb-4">
                            <span class="ms-3" id="headline">Enter Item Details</span>
                        </div>
                        <!-- second row -->
                        <div class="row">
                            <span class="ms-3 pb-2" id="inputhead">Item Name</span>
                            <input class="ms-4 cpinput-l" type="text" placeholder="Name" name="name" required>
                        </div>
                        <!-- third row -->
                        <div class="row pt-3 pb-3">
						<div class="col">
                            <span class="ms-3 pb-2" id="inputhead">Item Category</span>
								<select class="ms-3 ps-2 cpinput-s" required id="category" name="category" class="rdbox" required>
									<option value="" disabled selected hidden>Select a Category</option>
									{% for cat in categories  %}
									<option value="{{ cat }}">{{ cat }}</option>
									{% endfor %}
								</select>
                            </div>
                            <div class="col">
                            <span class="ms-3 pb-2" id="inputhead">Target Category</span>
								<select class="ms-3 ps-2 cpinput-s" required id="tcategory" name="tcategory" class="rdbox" required>
									<option value="" disabled selected hidden>Select a targetted Category</option>
									<option value="">All</option>
									{% for cat in categories  %}
									<option value="{{ cat }}">{{ cat }}</option>
									{% endfor %}
								</select>
                            </div>
                        </div>
                        <!-- fourth row -->
                        <div class="row pt-4">
                            <button class="ms-4 createbtn" name="test" type="submit">Test</button>
                        </div>
                        <div class="row"></div>
                </div>
            </div>
			{% else %}
			<div class="container pt-3">
                <div class="row cpbox">
                        <!-- first row -->
                        <div class="row pb-4">
                            <span class="ms-3" id="headline">Enter Item Details</span>
                        </div>
                        <!-- second row -->
                        <div class="row">
                            <span class="ms-3 pb-2" id="inputhead">Item Name</span>
                            <input class="ms-4 cpinput-l" type="text" placeholder="Name" name="name" required value="preset">
                        </div>
                        <!-- third row -->
                        <div class="row pt-3 pb-3">
						<div class="col">
                            <span class="ms-3 pb-2" id="inputhead">Item Category</span>
								<select class="ms-3 ps-2 cpinput-s" required id="category" name="category" class="rdbox" readonly required>
									<option value="" disabled selected hidden>Select a Category</option>
									{% for cat in categories  %}
									<option value="{{ cat }}">{{ cat }}</option>
									{% endfor %}
								</select>
                            </div>
                            <div class="col">
                            <span class="pb-2" id="inputhead">Target User Group</span>
								<select class="ms-3 ps-2 cpinput-s" required id="tcategory" name="tcategory" class="rdbox" readonly required>
									<option value="" disabled selected hidden>Select a targetted Category</option>
									<option value="">All</option>
									{% for cat in categories  %}
									<option value="{{ cat }}">{{ cat }}</option>
									{% endfor %}
                            </div>
                        </div>
                        <!-- fourth row -->
                        <div class="row pt-4">
                            <button class="ms-4 createbtn" name="test" type="submit">Test</button>
                        </div>
                        <div class="row"></div>
                </div>
            </div>
			{% endif %}
			
		</form>
			{% if item_information != None %}
            <!-- second box -->
            <div class="container pt-4">
                <div class="row pbox-m" style="width:1130px!important;height: 950px;">
                    <!-- first row -->
                    <div class="row pt-4 pb-2">
                        <span class="ms-3" id="headline">Predicted Rating</span>
                    </div>
                    <!-- second row -->
                    <div class="row">
                        <span class="ms-3 pb-2" id="subhead">Type of Project: {{ project_information["category"] }}</span>
                    </div>
                    <!-- third row -->
                    <div class="row pt-3 pb-3">
                        <div class="col-4">
                            <span class="ms-3" id="headline">Item Name</span>
                        </div>
                        <div class="col-4">
                            <span id="headline">Inputted Category</span>
                        </div>
						<div class="col-4">
                            <span id="headline">Targetted Category</span>
                        </div>
                    </div>
                    <!-- fourth row -->
                    <div class="row pt-3">
                        <div class="col-4 d-flex align-items-center pb-3 border-bottom">
                            <img class="ms-3" style="width: 72;height: 64;" src="{{ item_information['imageurl'] }}">
                            <span class="ms-4" id="content">{{ item_information['name'] }}</span>
                        </div>
                        <div class="col-4 d-flex align-items-center pb-3 border-bottom">
							<span class="ms-4" id="content">{{ item_information['category'] }}</span>
                        </div>
						<div class="col-4 d-flex align-items-center pb-3 border-bottom">
						{% if item_information['tcategory'] == "" %}
							<span class="ms-4" id="content">All</span>
						{% else %}
							<span class="ms-4" id="content">{{ item_information['tcategory'] }}</span>
						{% endif %}
                        </div>
                    </div>
					<div class="row pt-3">

                        <div class="col-6">
                            <span id="headline">Recommendation</span>
                        </div>					
                        <div class="col-3">
                            <span id="headline">Statistics</span>
                        </div>
                    </div>
					<div class="row">
                        <span class="ms-3" id="subhead">*Very Well Rating is a score of 4.0 and above</span>
						<span class="ms-3" id="subhead">*Average Rating is a score of 3.0 and above</span>
						<span class="ms-3" id="subhead">*Poor Rating is a score of 2.5 and below</span>
                    </div>
					<div class="row pt-3">
						<div class="col-5 pt-5 pb-3 border-bottom">     
						{%	for n in range(0,item_information["recommendations"] | length)	%}	
							<span id="content">{{ item_information["recommendations"][n] }}</span><br />
						{% endfor %}
						</div>
                        <div class="col-7 border-bottom">
						<img src="data:image/png;base64,{{ item_information['statistics'] }}">
						
                        </div>
                    </div>
                </div>
            </div>
			{% endif %}
        </div>
    </div>
</body>

</html>
