async-generator==1.10 
attrs==22.1.0 
Automat==20.2.0 
autopep8==1.7.0 
beautifulsoup4==4.11.1 
bs4==0.0.1 
certifi==2022.6.15.1 
cffi==1.15.1 
charset-normalizer==2.1.1 
colorama==0.4.6 
constantly==15.1.0 
cryptography==38.0.1 
cssselect==1.1.0 
exceptiongroup==1.0.0rc9 
fake-useragent==0.1.11 
filelock==3.8.0 
h11==0.14.0 
hyperlink==21.0.0 
idna==3.3 
incremental==22.10.0 
itemadapter==0.7.0 
itemloaders==1.0.6 
jmespath==1.0.1 
lxml==4.9.1 
numpy==1.23.4 
outcome==1.2.0 
packaging==21.3 
pandas==1.5.1 
parsel==1.6.0 
Protego==0.2.1 
pyasn1==0.4.8 
pyasn1-modules==0.2.8 
tldextract==3.4.0 
toml==0.10.2 
tqdm==4.64.1 
trio==0.22.0 
trio-websocket==0.9.2 
Twisted==22.8.0 
twisted-iocpsupport==1.0.2 
typing_extensions==4.4.0 
ua-parser==0.16.1 
urllib3==1.26.12 
user-agents==2.2.0 
w3lib==2.0.1 
webdriver-manager==3.8.4 
wsproto==1.2.0 
zope.interface==5.5.0